#main{
	max-width: 20em;
}




#about{
	text-align: center;
}




#status{
	position: fixed;
	margin-bottom: 0;
	bottom: 0.5em;
	right: 0.5em;
	line-height: 1em;
	font-size: 90%;
	color: #777;
}
body.open #status{
	color: #2ecc71;
}




#select-button{
	position: relative;
	height: 3em;
	font-size: 110%;
	overflow: hidden;
}

#select-button input, #select-button label{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#select-button input{
	opacity: 0;
	cursor: pointer;
	z-index: 2;
	height: 3em;
	font-size: 100%;
}
#select-button label{
	z-index: 1;
	line-height: 3em;
	text-align: center;
	font-weight: 300;
	color: white;
	background-color: #56B7F8;
}
#select-button:hover label, #select-button:active label{
	background-color: #63C4FF;
}

#select-drop{
	margin-top: 0.5em;
	text-align: center;
	font-size: 110%;
	line-height: 3em;
	color: #505050;
	background-color: #e3e3e3;
	cursor: default;
}
#select-drop.hover{
	color: white;
	background-color: #56B7F8;
}




#share{
	display: none;
}
body.listen #share{
	display: block;
}




/* table */
#transfer{
	margin: 0;
	width: 100%;
	border-spacing: 0;
}

/* td */
#transfer td{
	padding: 0.3em 0;
	vertical-align: top;
	border-bottom: 1px solid #e0e0e0;
}
#transfer tr:first-child td{
	padding-top: 0;
}
#transfer tr:last-child td{
	padding-bottom: 0;
	border-bottom: none;
}

#transfer td+td{
	padding-left: 1em;
}
#transfer td.name{
	min-width: 12em;
	color: #444;
}
#transfer td.size{
	color: #777;
	text-align: right;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}
#transfer td.status{
	min-width: 0.5em;
	color: #999;
	text-align: right;
}
#transfer tr.complete td.status{
	color: #2ecc71;
}
#transfer tr.transfer td.status{
	color: #56B7F8;
}
#transfer tr.error td.status{
	color: #e74c3c;
}